btm.pro.user
/Makefile
/libbtm/Makefile
/libbtm/Makefile.Debug
/libbtm/Makefile.Release
/libbtm/object_script.liblibbtm.Debug
/libbtm/object_script.liblibbtm.Release
/libbtm/release/btmMatch.o
/libbtm/release/btmPlayer.o
libbtm/release/
mainwindow/Makefile
mainwindow/Makefile.Debug
mainwindow/Makefile.Release
mainwindow/mainwindow_plugin_import.cpp
mainwindow/object_script.mainwindow.Debug
mainwindow/object_script.mainwindow.Release
mainwindow/ui_btmQMatchWidget2.h
mainwindow/ui_btmQPlayerWidget.h
mainwindow/ui_btmQRemoteDisplay.h
mainwindow/ui_btmQRemoteDisplayDialog.h
mainwindow/ui_btmQRoundWidget2.h
mainwindow/ui_btmQWaitingPlayersWidget.h
mainwindow/ui_mainwindow.h
